<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quiz_together">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/qx_icon_512"
        android:label="@string/app_name"
        android:roundIcon="@drawable/qx_icon_512"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.loading.LoadingActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/TopWhiteTheme" />
        <activity
            android:name=".ui.create.CreateActivity"
            android:theme="@style/TopWhiteTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.event.EventActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.login.LoginActivity"
            />
        <activity
            android:name=".ui.quizing.QuizingActivity"
            android:theme="@style/QuizingTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.quiz_together.ui.deprecated.publish.PublishActivity"
            android:windowSoftInputMode="adjustResize" />

        <service android:name=".data.remote.FirebaseHelper">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--<activity android:name=".ui.fortest.FirebaseTest"></activity>-->
    </application>

</manifest>